entrypoint = "main.go"
run = ["go", "test", "./sync"]

modules = ["go-1.22"]

[env]
GOPATH = "$REPL_HOME/gopath"

[nix]
channel = "stable-24_11"
packages = ["errcheck", "go"]

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
build = "CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a -o main"
run = "./main"
ignorePorts = false
deploymentTarget = "gce"

[[ports]]
localPort = 8080
externalPort = 80
exposeLocalhost = true
